body {
  background-image: url("data:image/svg+xml,%3Csvg width='700' height='700' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}

main {
  background-color: var(--prim);
  box-shadow: var(--shad);
  width: 40%;
  margin: 4rem auto 8rem auto;
  min-height: 40rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

#head-form {
  display: flex;
  align-items: center;
}

#recep-header {
  padding: 1rem;
  border-bottom: solid rgb(230, 230, 230) 1px;
  display: flex;
}

.input-wrapper {
  margin-left: auto;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 0.5rem;
  outline: none;
  height: 1.9rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  background-color: white;
  display: flex;
  padding-right: 3rem;
}

.input-wrapper svg {
  width: 20px;
  fill: var(--text);
}

.search-input {
  outline: none;
  background: none;
  border: none;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input::placeholder {
  opacity: 0.7;
}

#check-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}

#check-wrapper label {
  margin-right: 1rem;
  color: var(--text);
  font-weight: 600;
}

#check-wrapper input {
  margin-right: 0.5rem;
  margin-top: 0;
  width: 1rem;
  height: 1rem;
}

#container {
  overflow: hidden;
  width: 100%;
}

#err-msg {
  color: rgb(204, 91, 91);
  font-weight: 600;
  padding-top: 1rem;
  visibility: hidden;
  margin-left: 1rem;
  padding-bottom: 1rem;
}
