footer {
  background-color: var(--green);

  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: clamp(2rem, 5vw, 5rem);

  padding: clamp(3rem, 6vw, 5rem) clamp(1.5rem, 6vw, 5rem) 0;
  width: 100%;
}

footer article {
  width: auto;
  padding: 0;
}

footer nav {
  padding: 0;
}

footer p {
  margin: 1.5rem 0 0;

  text-align: left;

  color: white;

  line-height: 1.6;
}

footer h3 {
  color: rgb(208, 208, 208);

  font-weight: 400;

  font-size: clamp(1rem, 2vw, 1.2rem);

  margin-top: 0;
}

footer ul {
  list-style: none;

  position: relative;

  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 0.8rem;
}

footer a {
  color: white;

  outline: none;

  text-decoration: none;

  font-weight: 300;

  font-size: clamp(1rem, 2vw, 1.2rem);
}

#credits {
  color: white;
  font-weight: 200;
  padding-bottom: 1rem;
}

/* TABLETTE */
@media (max-width: 850px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }

  footer article:last-of-type {
    grid-column: 1 / -1;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;

    gap: 3rem;
  }

  footer article:last-of-type {
    grid-column: auto;
  }

  footer p {
    max-width: 500px;
  }
}
