footer {
  height: 25rem;
  background-color: var(--green);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

#credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  border-top: solid rgba(255, 255, 255, 0.5) 1px;
  color: white;
  padding: 1rem;
  padding-left: 2rem;
}

footer article {
  width: 20%;
  padding: 2rem;
}

#info a {
  margin: 0;
}

footer p {
  margin: 0;
  text-align: justify;
  color: white;
}

footer h3 {
  color: rgb(208, 208, 208);
  font-weight: 400;
  font-size: 1.2rem;
}

footer ul {
  list-style: none;
  position: relative;
  padding: 0;
}

footer nav {
  padding: 2rem;
}

footer li {
  margin-bottom: 0.5rem;
}

footer a {
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}

/* footer nav::before {
  position: absolute;
  content: "";
  left: 0;
  width: 1px;
  top: 0;
  bottom: 0;
  background-color: white;
} */
