body {
  margin: 0;
  background-color: var(--sec);
  padding-top: 5rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --green: #008279;
  --prim: #f9f9f9;
  --sec: #ececec;
  --text: #4d4d4d;
  --shad: 0px 3px 10px rgba(0, 0, 0, 0.15);
}
