header {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: rgba(0, 130, 121, 0.9);
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: var(--shad-header);
  z-index: 10;
  backdrop-filter: blur(10px);
}

#logo {
  margin-left: 2rem;
  z-index: 100;
}

header nav {
  margin-left: auto;
  padding: 2rem;
}

.header-tab {
  text-decoration: none;
  color: white;
  margin-left: 3rem;
  font-size: 1.2rem;
}
